# Web scraping

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Health Care Ranking for Different European Countries

In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import csv
import re
import urllib.request as urllib2
from datetime import datetime
import os
import sys
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [3]:
url = 'https://en.wikipedia.org/wiki/Healthcare_in_Europe'
r = requests.get(url)
HCE = BeautifulSoup(r.text)
type(HCE)

bs4.BeautifulSoup

In [4]:
webpage = urllib2.urlopen(url)
htmlpage = webpage.readlines()
lst = []
for line in htmlpage:
    line = str(line).rstrip()
    if re.search('table class',line):
        lst.append(line)

In [5]:
len(lst)

5

In [6]:
lst

['b\'<table class="wikitable floatright sortable" style="font-size: 90%">\\n\'',
 'b\'<div class="navbox-styles nomobile"><style data-mw-deduplicate="TemplateStyles:r1061467846">.mw-parser-output .navbox{box-sizing:border-box;border:1px solid #a2a9b1;width:100%;clear:both;font-size:88%;text-align:center;padding:1px;margin:1em auto 0}.mw-parser-output .navbox .navbox{margin-top:0}.mw-parser-output .navbox+.navbox,.mw-parser-output .navbox+.navbox-styles+.navbox{margin-top:-1px}.mw-parser-output .navbox-inner,.mw-parser-output .navbox-subgroup{width:100%}.mw-parser-output .navbox-group,.mw-parser-output .navbox-title,.mw-parser-output .navbox-abovebelow{padding:0.25em 1em;line-height:1.5em;text-align:center}.mw-parser-output .navbox-group{white-space:nowrap;text-align:right}.mw-parser-output .navbox,.mw-parser-output .navbox-subgroup{background-color:#fdfdfd}.mw-parser-output .navbox-list{line-height:1.5em;border-color:#fdfdfd}.mw-parser-output .navbox-list-with-group{text-align:left;border-left-width:2px;border-left-style:solid}.mw-parser-output tr+tr>.navbox-abovebelow,.mw-parser-output tr+tr>.navbox-group,.mw-parser-output tr+tr>.navbox-image,.mw-parser-output tr+tr>.navbox-list{border-top:2px solid #fdfdfd}.mw-parser-output .navbox-title{background-color:#ccf}.mw-parser-output .navbox-abovebelow,.mw-parser-output .navbox-group,.mw-parser-output .navbox-subgroup .navbox-title{background-color:#ddf}.mw-parser-output .navbox-subgroup .navbox-group,.mw-parser-output .navbox-subgroup .navbox-abovebelow{background-color:#e6e6ff}.mw-parser-output .navbox-even{background-color:#f7f7f7}.mw-parser-output .navbox-odd{background-color:transparent}.mw-parser-output .navbox .hlist td dl,.mw-parser-output .navbox .hlist td ol,.mw-parser-output .navbox .hlist td ul,.mw-parser-output .navbox td.hlist dl,.mw-parser-output .navbox td.hlist ol,.mw-parser-output .navbox td.hlist ul{padding:0.125em 0}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}</style></div><div role="navigation" class="navbox" aria-labelledby="Healthcare_in_Europe" style="padding:3px"><table class="nowraplinks mw-collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit"><tbody><tr><th scope="col" class="navbox-title" colspan="2"><style data-mw-deduplicate="TemplateStyles:r1063604349">.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}</style><div class="navbar plainlinks hlist navbar-mini"><ul><li class="nv-view"><a href="/wiki/Template:Healthcare_in_Europe" title="Template:Healthcare in Europe"><abbr title="View this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">v</abbr></a></li><li class="nv-talk"><a href="/wiki/Template_talk:Healthcare_in_Europe" title="Template talk:Healthcare in Europe"><abbr title="Discuss this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">t</abbr></a></li><li class="nv-edit"><a class="external text" href="https://en.wikipedia.org/w/index.php?title=Template:Healthcare_in_Europe&amp;action=edit"><abbr title="Edit this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">e</abbr></a></li></ul></div><div id="Healthcare_in_Europe" style="font-size:114%;margin:0 4em"><a class="mw-selflink selflink">Healthcare in Europe </a></div></th></tr><tr><th scope="row" class="navbox-group" style="width:1%">Sovereign states</th><td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0"><div style="padding:0 0.25em">\\n\'',
 'b\'<div class="navbox-styles nomobile"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1061467846"/></div><div role="navigation" class="navbox" aria-labelledby="Health_in_Europe" style="padding:3px"><table class="nowraplinks mw-collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit"><tbody><tr><th scope="col" class="navbox-title" colspan="2"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1063604349"/><div class="navbar plainlinks hlist navbar-mini"><ul><li class="nv-view"><a href="/wiki/Template:Europe_topic" title="Template:Europe topic"><abbr title="View this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">v</abbr></a></li><li class="nv-talk"><a href="/wiki/Template_talk:Europe_topic" title="Template talk:Europe topic"><abbr title="Discuss this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">t</abbr></a></li><li class="nv-edit"><a class="external text" href="https://en.wikipedia.org/w/index.php?title=Template:Europe_topic&amp;action=edit"><abbr title="Edit this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">e</abbr></a></li></ul></div><div id="Health_in_Europe" style="font-size:114%;margin:0 4em"><a href="/wiki/Health_in_Europe" class="mw-redirect" title="Health in Europe">Health in Europe </a></div></th></tr><tr><th scope="row" class="navbox-group" style="width:1%">Sovereign states</th><td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0"><div style="padding:0 0.25em">\\n\'',
 'b\'<div class="navbox-styles nomobile"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1061467846"/></div><div role="navigation" class="navbox" aria-labelledby="List_of_hospitals_in_Europe" style="padding:3px"><table class="nowraplinks mw-collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit"><tbody><tr><th scope="col" class="navbox-title" colspan="2"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1063604349"/><div class="navbar plainlinks hlist navbar-mini"><ul><li class="nv-view"><a href="/wiki/Template:Europe_topic" title="Template:Europe topic"><abbr title="View this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">v</abbr></a></li><li class="nv-talk"><a href="/wiki/Template_talk:Europe_topic" title="Template talk:Europe topic"><abbr title="Discuss this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">t</abbr></a></li><li class="nv-edit"><a class="external text" href="https://en.wikipedia.org/w/index.php?title=Template:Europe_topic&amp;action=edit"><abbr title="Edit this template" style=";;background:none transparent;border:none;box-shadow:none;padding:0;">e</abbr></a></li></ul></div><div id="List_of_hospitals_in_Europe" style="font-size:114%;margin:0 4em"><a href="/wiki/List_of_hospitals_in_Europe" class="mw-redirect" title="List of hospitals in Europe">List of hospitals in Europe </a></div></th></tr><tr><th scope="row" class="navbox-group" style="width:1%">Sovereign states</th><td class="navbox-list-with-group navbox-list navbox-odd hlist" style="width:100%;padding:0"><div style="padding:0 0.25em">\\n\'',
 'b\'<div class="navbox-styles nomobile"><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1061467846"/></div><div role="navigation" class="navbox authority-control" aria-labelledby="Authority_control:_National_libraries_frameless&amp;#124;text-top&amp;#124;10px&amp;#124;alt=Edit_this_at_Wikidata&amp;#124;link=https&amp;#58;//www.wikidata.org/wiki/Q5691262#identifiers&amp;#124;class=noprint&amp;#124;Edit_this_at_Wikidata" style="padding:3px"><table class="nowraplinks hlist navbox-inner" style="border-spacing:0;background:transparent;color:inherit"><tbody><tr><th id="Authority_control:_National_libraries_frameless&amp;#124;text-top&amp;#124;10px&amp;#124;alt=Edit_this_at_Wikidata&amp;#124;link=https&amp;#58;//www.wikidata.org/wiki/Q5691262#identifiers&amp;#124;class=noprint&amp;#124;Edit_this_at_Wikidata" scope="row" class="navbox-group" style="width:1%"><a href="/wiki/Help:Authority_control" title="Help:Authority control">Authority control: National libraries</a>  <a href="https://www.wikidata.org/wiki/Q5691262#identifiers" title="Edit this at Wikidata"><img alt="Edit this at Wikidata" src="//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png" decoding="async" width="10" height="10" style="vertical-align: text-top" class="noprint" srcset="//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/15px-OOjs_UI_icon_edit-ltr-progressive.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/20px-OOjs_UI_icon_edit-ltr-progressive.svg.png 2x" data-file-width="20" data-file-height="20" /></a></th><td class="navbox-list-with-group navbox-list navbox-odd" style="width:100%;padding:0"><div style="padding:0 0.25em">\\n\'']

In [7]:
table = HCE.find('table',{'class','wikitable floatright sortable'})

In [8]:
type(table)

bs4.element.Tag

In [9]:
x=lst[0]
extr = re.findall('"([^"]*)"',x)
table = HCE.find('table',{'class',extr[0]})

In [10]:
type(table)

bs4.element.Tag

In [11]:
headers = [header.text for header in table.find_all('th')]

In [12]:
headers

['WorldRank\n', 'EURank\n', 'Country\n', 'Life expectancyat birth (years)\n']

In [13]:
rows = []
for row in table.find_all('tr'):
    rows.append([val.text.encode('utf8').decode() for val in row.find_all('td')])

In [14]:
df1 = pd.DataFrame(rows, columns = headers)

In [15]:
df1.head(7)

  WorldRank\n EURank\n  Country\n Life expectancyat birth (years)\n
0        None     None       None                              None
1        5.\n     1.\n    Spain\n                            83.4\n
2        6.\n     2.\n    Italy\n                            83.4\n
3       11.\n     3.\n   Sweden\n                            82.7\n
4       12.\n     4.\n   France\n                            82.5\n
5       13.\n     5.\n    Malta\n                            82.4\n
6       16.\n     6.\n  Ireland\n                            82.1\n

# Health Expenditure

In [16]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_total_health_expenditure_per_capita'
r = requests.get(url)
HCE = BeautifulSoup(r.text)
webpage = urllib2.urlopen(url)
htmlpage = webpage.readlines()
lst = []
for line in htmlpage:
    line = str(line).rstrip()
    if re.search('table class',line):
        lst.append(line)
x=lst[1]
print(x)
extr = re.findall('"([^"]*)"',x)
table = HCE.find('table',{'class',extr[0]})
headers = [header.text for header in table.find_all('th')]
rows = []
for row in table.find_all('tr'):
    rows.append([val.text.encode('utf8').decode() for val in row.find_all('td')])
headers = [i.replace("\n","") for i in headers]
df2 = pd.DataFrame(rows,columns = headers)

b'<table class="wikitable sortable static-row-numbers plainrowheaders srn-white-background" border="1" style="text-align:right;">\n'

In [17]:
df2.head()

          Country     2017     2018     2019
0            None     None     None     None
1   Australia *\n  4,711\n  4,965\n  5,187\n
2     Austria *\n  5,360\n  5,538\n  5,851\n
3     Belgium *\n  5,014\n  5,103\n  5,428\n
4      Canada *\n  5,155\n  5,287\n  5,418\n

# Aditional Preprocessing Steps

In [18]:
def preproc(dat):
    dat.dropna(axis =0,how='all',inplace = True)
    dat.columns = dat.columns.str.replace("\n","")
    dat.replace(["\n"],[""], regex = True, inplace = True)
    dat.replace([r"\s\*$"],[""], regex = True, inplace = True)
    dat.replace([","],[""], regex = True, inplace = True)
    dat.replace(r"\b[a-zA-Z]\b",np.nan, regex = True, inplace = True)
    dat.replace([r"^\s"],[""], regex = True, inplace = True)
    dat = dat.apply(pd.to_numeric, errors = 'ignore')
    return(dat)

In [19]:
df1 = preproc(df1)
df2 = preproc(df2)

In [20]:
print(df1.isnull().sum().sum())
print(df2.isnull().sum().sum())

0
0

In [21]:
df1.dropna(axis=0, how ='any', inplace = True)

In [22]:
df1.dtypes

WorldRank                          float64
EURank                             float64
Country                             object
Life expectancyat birth (years)    float64
dtype: object

In [23]:
df2.dtypes

Country    object
2017        int64
2018        int64
2019        int64
dtype: object

In [24]:
df1.columns = ['WorldRank','EYRank','Country','Life expectancy in (years)']
df2.columns = ['Country','2017','2018','2019']

# Analyzing Final Tables

In [25]:
df1.head()

   WorldRank  EYRank Country  Life expectancy in (years)
1        5.0     1.0   Spain                        83.4
2        6.0     2.0   Italy                        83.4
3       11.0     3.0  Sweden                        82.7
4       12.0     4.0  France                        82.5
5       13.0     5.0   Malta                        82.4

In [26]:
df2.head()

     Country  2017  2018  2019
1  Australia  4711  4965  5187
2    Austria  5360  5538  5851
3    Belgium  5014  5103  5428
4     Canada  5155  5287  5418
5      Chile  2030  2126  2159

# Merging different Data

In [27]:
print(df1.shape)
print(df2.shape)

(9, 4)
(37, 4)

In [28]:
pd.merge(df1,df2, how='left', on='Country').head()

,WorldRank,EYRank,Country,Life expectancy in (years),2017,2018,2019
0,5.0,1.0,Spain,83.4,3322.0,3430.0,3616.0
1,6.0,2.0,Italy,83.4,3399.0,3485.0,3649.0
2,11.0,3.0,Sweden,82.7,5318.0,5434.0,5782.0
3,12.0,4.0,France,82.5,5057.0,5154.0,5376.0
4,13.0,5.0,Malta,82.4,NaN,NaN,NaN