In [39]:
# Find max occurence of a character in string
a = "Hi, this is an interview for Python developer. Can you let me know which character occurs most?"
freq_dict = {}
for i in a:
    if i in freq_dict:
        freq_dict[i] +=1
    else:
        freq_dict[i]=1
most_occurring = max(freq_dict, key=freq_dict.get)
print(most_occurring)

a

In [40]:
import collections
s = "Hi, this is an interview for Python developer. Can you let me know which character occurs most?"
print(collections.Counter(s).most_common(1)[0])

(' ', 16)

In [9]:
my_string = "Python-Interpreter"

print ("The string is : ")
print(my_string)

max_frequency = {}
for i in my_string:
   if i in max_frequency:
      max_frequency[i] += 1
   else:
      max_frequency[i] = 1
my_result = max(max_frequency, key = max_frequency.get)

print ("The maximum of all characters is : ")
print(my_result)

The string is :
Python-Interpreter
The maximum of all characters is :
t

In [2]:
a= {"drive a":"20GB","drive b":"30GB","drive c":"40GB"}

In [3]:
for key,value in a.items():
    print(int(value[:2]))

20
30
40

In [4]:
def str_to_number(num: str):
    try:
        number = int(num)
        return number
    except ValueError:
        print("Enter correct format")

str_to_number("20")
str_to_number("ab")

Enter correct format

In [60]:
str = "5000"
num = int(str)
type(num)

int

In [55]:
l = [1,2,3,4,5]
sum = 0
for i in l:
    sum += i
print(sum)

15

In [58]:
def sum_list(m):
    sum = 0
    for i in m:
        sum = i + sum
    return sum

sum_list([1,2,-3,4,5])
o =[1,3,5,7,9]
sum_list(o)

25

In [3]:
a = 'manali'
for i in a:
    print(i)

m
a
n
a
l
i

In [4]:
a = 'assissa'
rev = a[::-1]
if(a==rev):
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [8]:
def check_palindrome(a):
    rev = a[::-1]
    if(a==rev):
        print('palindrome')
    else:
        print('not palindrome')
    
check_palindrome('sms')

palindrome

In [12]:
#febnosis series
sum = 0
for i in range(10):
    sum = i + sum
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [14]:
#even number
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [16]:
#odd number
for i in range(10):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [17]:
#divisible by 3
for i in range(10):
    if i%3==0:
        print(i)

0
3
6
9

In [22]:
m = {'a':[1,2,3],'b':[4,5,6]}
import pandas as pd

df = pd.DataFrame(m)
df.set_index('a')

   b
a
1  4
2  5
3  6

In [23]:
df.reset_index()

   index  a  b
0      0  1  4
1      1  2  5
2      2  3  6